<!--<div class="jumbotron">
  <div class="container">
    <div class="panel-heading">Keyspace:    {{keySpace}}</div>
    <ul ng-repeat="keyspace in metadata" class="genres">
      <li ng-repeat="(ks, value) in keyspace.keyspaces">
        <span ng-click="GetTables(ks)">{{ks}}</span>
      </li>
    </ul>
  </div>
<br />
  <div class="container">
    <div class="panel-heading">Table:    {{tableName}}</div>
    <ul class="genres">
      <li ng-repeat="name in tables">
        <span ng-click="GenerateTables(name.columnfamily_name, name.keyspace_name)">
          {{name.columnfamily_name}}
        </span>
      </li>
    </ul>
  </div>
</div>

<br />

<div class="jumbotron">
  <div class="container">
    <table border="1">
      <thead>
        <tr>
          <th ng-repeat="(key, value) in genData[0]">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="items in genData">
          <td ng-repeat="(key,value) in items">{{value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>-->

<div class="container-fluid" style="height:100%">
  <div class="col-sm-2 col-md-2 col-lg-2" style="height:100%">
    <div class="panel panel-default">
      <div class="panel-heading" style="text-transform:none">KEYSPACE: <span style="color:#777777">{{keySpace}}</span></div>
      <div class="panel-body" style="overflow:auto">
        <ul ng-repeat="keyspace in metadata" class="genres" style="list-style-type:none; padding:0">
          <li ng-repeat="(ks, value) in keyspace.keyspaces" style="display:list-item; text-align:left; font-size:small">
            <span ng-click="GetTables(ks)">{{ks}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-10 col-md-10 col-lg-10">
    <div class="panel panel-default" style="height:100%">
      <div class="panel-heading" style="height:100% text-transform:none">TABLE: <span style="color:#777777">{{tableName}}</span></div>
      <div class="panel-body" style="height:100%"> 
        <select class="genres" ng-options="name.columnfamily_name for name in tables" ng-model="coba" ng-change="GenerateTables(coba.columnfamily_name, coba.keyspace_name)"></select>
        <button class="btn btn-primary" type="submit" ng-disabled="" style="padding:2px 10px 2px 10px">meta</button></br></br>    
        <div style="height:460px;width:100%;overflow:auto">
        <table style="border: 2px solid #596880 collapse">
          <tr>
            <th ng-repeat="(key, value) in genData[0]" style="font-family:Courier New; padding:3px 5px 3px 5px; color:white; text-align:center; border: 2px solid #596880; background: #8492a8">{{key}}</th>
          </tr>
          <tr ng-repeat="items in genData">
            <td ng-repeat="(key,value) in items" style="font-family:Courier New; padding:3px 5px 3px 5px; border: 2px solid #596880; background: #f1f3f5">{{value}}</td>
          </tr>
        </table>
      </div>
      </div>
    </div>
  </div>
</div>