<div class="container-fluid" style="height:100%">
  <div class="col-sm-2 col-md-2 col-lg-2" style="height:100%">
    <div class="panel panel-default">
      <div class="panel-heading" style="text-transform:none">KEYSPACE: <span id="phvex">{{keySpace}}</span></div>
      <div class="panel-body" style="overflow:auto">
        <ul ng-repeat="keyspace in metadata" class="genres" style="list-style-type:none; padding:0">
          <li ng-click="GetTables(ks)" ng-repeat="(ks, value) in keyspace.keyspaces" style="display:list-item; text-align:left; font-size:small">
            {{ks}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-10 col-md-10 col-lg-10">
    <div class="panel panel-default" style="height:100%">
      <div class="panel-heading" style="height:100%;text-transform:none">TABLE: <span id="phvex">{{tableName}}</span></div>
      <div class="panel-body" style="height:100%"> 
        <form>
          <select class="genres" ng-options="name.columnfamily_name for name in tables" ng-model="tab" ng-change="GenerateTables(tab.columnfamily_name, tab.keyspace_name, tip)"></select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="radio" ng-model="tip" value="dat" ng-change="GenerateTables(tab.columnfamily_name, tab.keyspace_name, tip)">Data&nbsp;&nbsp;&nbsp;
          <input type="radio" ng-model="tip" value="met" ng-change="GenerateTables(tab.columnfamily_name, tab.keyspace_name, tip)">Meta
        </form> 
        
        </br>

        <div id="dtabex" style="height:100%">
          <table id="tabex">
            <tr>
              <th ng-repeat="(key, value) in genData[0]" id="thex">{{key}}</th>
            </tr>
            <tr ng-repeat="items in genData">
              <td ng-repeat="(key,value) in items" id="tdex">{{value}}</td>
            </tr>
          </table>
        </div>


        <div id="dtabex" style="height:100%">
          <table id="tabex">
            <tr>
              <th ng-repeat="(key, value) in genMeta[0]" id="thex">{{key}}</th>
            </tr>
            <tr ng-repeat="items in genMeta">
              <td ng-repeat="(key,value) in items" id="tdex">{{value}}</td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>