<div class="jumbotron">
  <div class="container">
    <ul class="genres">
      <li ng-repeat="ks in keyspaces">
        <span ng-click="GetTables(ks)">{{ks}}</span>
      </li>
    </ul>
  </div>
  <div class="container">
    <ul class="genres">
      <li ng-repeat="name in tables">
        <span ng-click="GenerateTables(name.columnfamily_name, name.keyspace_name)">
          {{name.columnfamily_name}}
        </span>
      </li>
    </ul>
  </div>
</div>


<div class="jumbotron">
  <div class="container">
    <table border="1">
      <thead>
        <tr>
          <th ng-repeat="(key, value) in genData[0]">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="items in genData">
          <td ng-repeat="(key,value) in items">{{value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>